//Portfolio Colors
$color-grey-dark: #757575;
$color-grey-dark-2: #333;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #C2C2C2;

$color-white: #fff;
$color-black: #000;
$color-black-1: #292929;

$color-pink: #FFB2B2;
$color-pink-dark: #E6A1A1;

//Font
$default-font-size: 1.6rem;

//Grid

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
