//Portfolio Colors
$color-grey: #545454;

$color-white: #fff;
$color-white-2: #f5eceb;
$color-black: #000;

$color-pink-dark: rgb(73, 73, 73);
$color-pink: #e6a1a1;
$color-pink-2: #d7766c;
$color-pink-3: #8C524F;

$color-lite-blue: #bdf0f4;

//Font
$default-font-size: 1.6rem;
