//Animations

  @keyframes scroll {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    25% {
      opacity: 1;
    }
    75% {
      transform: translateY(0.75em);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 0;
    }
  }
  
@keyframes moveInLeft {
	0% {
		opacity: 0;
		transform: translateX(-20rem);
	}

	80% {
		transform: translateX(0rem);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes moveInRight {
	0% {
		opacity: 0;
		transform: translateX(10rem);
	}

	80% {
		transform: translateX(-1rem);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes slide-in-fwd-bottom {
	0% {
		transform: translateZ(-1400px) translateY(800px);
		opacity: 0;
	}

	100% {
		transform: translateZ(0) translateY(0);
		opacity: 1;
	}
}

@keyframes moveInButton {
	0% {
		opacity: 0;
		transform: translateY(3rem);
	}

	100% {
		opacity: 1;
		transform: translate(0);
	}
}


