body {
	font-family: "Lato", sans-serif;
	font-weight: 400;
	font-size: $default-font-size;
	background-color: $color-white-2;
}

h1 {
	font-size: 5rem;
}

h2 {
	font-size: 3.9rem;
}

h3 {
	font-size: 3.1rem;
}

h4 {
	font-size: 2.5rem;
}

h5 {
	font-size: 2rem;
}

.all-caps {
	text-transform: uppercase;
  }

.alpha {
	font-size: 5rem;
}

.beta {
	font-size: 3.9rem;
}

.gamma {
	font-size: 3.1rem;
}

.delta {
	font-size: 2.5rem;
}

.epsilon {
	font-size: 2rem;
}
  
.mega {
	font-size: 7rem;

	@media screen and (max-width: 1039px) {
		font-size: 6.5rem;
	}

	@media screen and (max-width: 897px){
		font-size: 5.5rem;
	}
  }

.mini {
	font-size: 1.5rem;
}

.micro {
	font-size: 1rem;
}
