
$c-accent : #EE837E;
$c-accent-2 : #165863;
$c-accent-3 : #0E7D90;
$c-accent-4 : #ABD9E3;


$bg-light: #fffbf6;
$bg-dark: #333;

$black : #333;
$white : #fff;
$grey: #666;


$burger-width: 30px;
$burger-height: 30px;
$burger-thickness: 3px;
