.section-portfolio {
	margin-top: -10rem;
	padding: 20rem 15rem;
	background-color: $color-grey-light-1;

	&__row {
		display: flex;
		flex-direction: row;
		grid-gap: 100px 2rem;
		justify-content: center;
	}
}


/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

	.section-portfolio {

		&__row {
			flex-direction: column;
		}
	}
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

	.section-portfolio {
		padding: 20rem 2rem;

		&__row {
			flex-direction: column;
			grid-gap: 100px 0rem;
		}
	}
}
